@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100  ">
            <div class="row d-flex justify-content-center align-items-center h-100 custom-heigh">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 t">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">SignUp</h2>
                               
                                <form action="/Login_Signup/Signup_Successful" method="post">
                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="typeEmailX" class="form-control form-control-lg mt-5" name=Email />
                                        <label class="form-label mt-1 " for="typeEmailX">Email</label>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="typeEmailX" class="form-control form-control-lg" name=Name />
                                        <label class="form-label mt-1" for="typeEmailX">Username</label>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" id="typeEmailX" class="form-control form-control-lg" name=Gender />
                                        <label class="form-label mt-1" for="typeEmailX">Gender</label>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="typePasswordX" class="form-control form-control-lg" name=Password />
                                        <label class="form-label mt-1" for="typePasswordX">Password</label>
                                    </div>
                                  
                                    @* <div class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                                    <label class="form-label mt-1" for="typePasswordX">Confirm Password</label>
                                    </div>
                                    *@
                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">@ViewBag.Message</a></p>
                                    <button class="btn btn-outline-light btn-lg px-5 mt-3" type="submit">Signup</button>
                                </form>

                              
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
