@{
    Layout = "_Layout";
}
@using Project.Models

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Order Summary</h4>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.list)
                    {
                        <div class="media mb-4">
                                                       <div class="media-body">
                                <h5 class="mt-0">@item.Name</h5>
                                <p class="mb-0">Price: $@item.Price</p>
                            </div>
                        </div>
                    }

                    <div class="text-end">
                        <h6>Total Bill: $@Model.bill</h6>
                        <a href="/BuyMedicine/orderPlaced" class="btn btn-primary">Confirm Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
